<nav class="navbar">
    <div class="logotype">LOGOTYPE</div>
    <ul class="nav-links">
        <li><a href="#">HOME</a></li>
        <li><a href="#">DESTINATIONS</a></li>
        <li><a href="#">SELECTION</a></li>
        <li><a href="#">ABOUT US</a></li>
    </ul>
    <button class="log-in-btn" <% if(page === 'login' || page === 'register'){ %>style="display:none;"<% } %>>LOG IN</button>
</nav>
