<nav class="navbar">
    <div class="logotype">LOGOTYPE</div>
    <ul class="nav-links">
        <li><a href="#">HOME</a></li>
        <li><a href="#">DESTINATIONS</a></li>
        <li><a href="#">SELECTION</a></li>
        <li><a href="#">ABOUT US</a></li>
    </ul>
    <% if (page !== 'login' && page !== 'register') { %>
    <% if (user) { %>
      <!-- Show PROFILE if logged in -->
      <a href="/profile" class="log-in-btn">PROFILE</a>
    <% } else { %>
      <!-- Show LOG IN if not logged in -->
      <a href="/login" class="log-in-btn">LOG IN</a>
    <% } %>
  <% } %>
</nav>
