<div class="social-links">
    <a href="#"><img src="/images/placeholder-facebook-icon.png" alt="Facebook" /></a>
    <a href="#"><img src="/images/placeholder-instagram-icon.png" alt="Instagram" /></a>
    <a href="#"><img src="/images/placeholder-twitter-icon.png" alt="Twitter" /></a>
</div>
