.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 40px 20px;
    background: var(--dark-green);
}

.auth-card {
    background-color: var(--light-text);
    color: var(--dark-green);
    padding: 40px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: all 0.3s ease;
    margin: 6rem;
}

/*.auth-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}*/

.auth-title {
    font-family: var(--font-serif);
    font-size: 2rem;
    margin-bottom: 25px;
}

.auth-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.auth-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
}

.auth-form input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.auth-form input:focus {
    outline: none;
    border-color: var(--button-dark);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.auth-btn {
    background-color: var(--button-dark);
    color: var(--light-text);
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    transition: all 0.3s ease;
}

.auth-btn:hover {
    background-color: var(--dark-green);
}

.auth-footer-text {
    margin-top: 20px;
    font-size: 0.9rem;
}

.auth-footer-text a {
    color: var(--button-dark);
    font-weight: 600;
    text-decoration: underline;
}

.auth-footer-text a:hover {
    color: gray;
}
